.btn-outline-dark {
    margin-left: 1em;
}
.btn-outline-dark:hover {
    color: #fff;
    background-color: #4e77a1;
    border-color: #343a40;
}
.buylist:hover{
    border: 1px solid black;
    cursor: pointer;
}
.delete_icon{
    background-image: url('img/delete.png');
    background-position: center;
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    margin: 1em 1em;
    float: right;
}
.user_messages{
    width: 100%;
    height: 2em;
    margin: 0 auto;
    background-color: #b5e9cc;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    display: none;
    border: 1px solid black;
    border-radius: 7px;
}
.justify-content-center{
    padding-top: 1em;
}

.active {
    display: block;
}

.category_text {
    font-style: italic;
}
/*Loader styles*/
.loader{
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    z-index: 999;
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
    background: #ffffff7d;
    display: none;
    justify-content: center;
}
.loader.start{
    display: flex;
    transition: all 0.5s ease;
}
.loader.start.update{
    visibility: hidden;
}

.loader  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.loader .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.loader .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #414141;
    margin: -4px 0 0 -4px;
}
.loader .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.loader .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.loader .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.loader .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.loader .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.loader .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.loader .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.loader .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.loader .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.loader .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.loader .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.loader .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.loader .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.loader .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.loader .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.loader  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}